# put this file in /etc/systemd/system/
[Unit]
Description=

[Service]
WorkingDirectory=/home/timerix/Simple-Node-Server/
ExecStart=/bin/bash /home/timerix/Simple-Node-Server/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
